@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Times New Roman", Georgia, Serif;
}

.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}
.modal-header .close {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

#icon-twitter,
#icon-facebook,
#icon-linkedin {
  margin-left: 10px;
  margin-right: 10px;
}

.app {
  background-color: #f8cc0a;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 10%;
  height: 50px;
  top: 70px;
  left: 87%;
  padding-top: 2px;
  border-radius: 10px;
}

.stopwatch-card {
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
  font-size: 28px;
  position: fixed;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 12%;
  height: 60px;
  top: 110px;
  left: 92%;
  transform: translate(-50%, -50%);
  padding-top: 10px;
}

.list-contrainer{
  padding-left: 30px;
  padding-right: 30px;
}
.add-contrainer{
  padding-left: 70px;
  padding-right: 70px;
}
